absl-py==1.3.0
altair==4.2.0
antlr4-python3-runtime==4.8
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.1.0
astunparse==1.6.3
async-generator==1.10
attrs==22.1.0
backcall==0.2.0
backpack==0.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bitarray==2.6.0
bleach==5.0.1
blinker==1.5
boto3==1.24.46
botocore==1.27.46
cachetools==5.2.0
certifi==2022.6.15.1
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
clip==1.0
commonmark==0.9.1
contourpy==1.0.6
cycler==0.11.0
Cython==0.29.30
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
etils==0.9.0
exceptiongroup==1.0.4
executing==1.2.0
-e git+https://github.com/pytorch/fairseq@ad3bec5a07962a994ac25ad1609ab926b13e0c0f#egg=fairseq
fastjsonschema==2.15.3
flatbuffers==22.11.23
fonttools==4.38.0
ftfy==6.1.1
gast==0.4.0
gdown==3.13.0
gitdb==4.0.10
GitPython==3.1.29
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-images-download @ git+http://github.com/joeclinton1/google-images-download.git@e91e6a38ad654877f59edc7894822f5319d75df1
google-pasta==0.2.0
googleapis-common-protos==1.57.0
grpcio==1.51.1
h11==0.14.0
h5py==3.7.0
hydra-core==1.0.7
idna==3.4
imagenetv2-pytorch==0.1
importlib-metadata==5.1.0
importlib-resources==5.9.0
ipykernel==6.17.0
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonschema==4.17.3
jupyter-core==4.11.1
jupyter_client==7.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keras==2.11.0
keras-cv==0.3.4
kiwisolver==1.4.4
libclang==14.0.6
littleutils==0.2.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
-e git+https://github.com/pytorch/fairseq@ad3bec5a07962a994ac25ad1609ab926b13e0c0f#egg=mmpt&subdirectory=examples/MMPT
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.6
notebook==6.4.12
numpy==1.23.4
oauthlib==3.2.2
ogb==1.3.4
omegaconf==2.0.6
opencv-python==4.6.0.66
opt-einsum==3.3.0
outcome==1.2.0
outdated==0.2.1
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
parameterized==0.8.1
parso==0.8.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
portalocker==2.5.1
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.31
protobuf==3.19.6
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydeck==0.8.0
Pygments==2.13.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pyzmq==24.0.1
regex==2022.7.9
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.6.0
rsa==4.9
s3transfer==0.6.0
sacrebleu==2.1.0
scikit-learn==1.1.1
scipy==1.9.0
selenium==4.6.0
semver==2.13.0
Send2Trash==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stack-data==0.6.0
streamlit==1.15.2
tabulate==0.8.10
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
tensorflow-metadata==1.12.0
termcolor==2.1.1
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
toolz==0.12.0
torch==1.11.0
torchaudio==0.12.0
torchsummary==1.5.1
torchvision==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
trio==0.22.0
trio-websocket==0.9.2
ttach==0.0.3
typing_extensions==4.3.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.12
validators==0.20.0
watchdog==2.2.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==3.6.1
wilds==1.2.2
wrapt==1.14.1
wsproto==1.2.0
zipp==3.8.1
